{% extends 'base.html' %}


{% block titulo %}
Eliminar Empleado
{% endblock titulo %}

{% block content %}

{% include 'includes/header.html' %}

<div class="grid-container">
    <div class="grid-x">
        <h1 class="cell">Eliminar: {{object.first_name}}</h1>
        <form class="cell" method="POST">{% csrf_token %}
            <div class="callout secondary">
                <h5>Desea eliminar este empleado?</h5>
                <button type="submit" class="button alert">Confirmar </button>
                
            </div>
        </form>
    </div>
</div>

{% endblock content %}